SELECT * FROM crosstab('{{{allSubQueries}}}') AS (
rowid TEXT,
"School Male" TEXT,
"School Female" TEXT,
"Boarding Female" TEXT,
"Village Female" TEXT,
"Village Male" TEXT,
"Boarding Total" TEXT,
"School Total" TEXT,
"Village Total" TEXT,
"All Female" TEXT,
"All Male" TEXT,
"All Total" TEXT);